/* Global Styles */
body, ul, li {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
  }
  .section {
    padding: 50px;
    text-align: center;
  }
  
/* Navbar initialement sombre */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F8FB; /* Couleur sombre */
  color: white;
  padding: 20px 80px;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  transform: translateY(0); /* Position de départ */
}

/* Navbar après défilement */
.navbar.scrolled {
  background-color: white; /* Couleur blanche après défilement */
  color: black;
  transform: translateY(-10px); /* Déplace la navbar vers le haut */
}

/* Style des liens de navigation */
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 300; /* Poids léger */
  transition: color 0.3s ease; /* Transition fluide pour le changement de couleur */
  font-size: 14px;
  margin: 15px;
}

/* Changement de couleur au survol */
.nav-links a:hover {
  color: #793677; /* Couleur mauve */
}

  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-links li {
    margin: 0 15px;
  }
 
  .register-button {
    background-color: #F6F8FB;
    border: 2px solid #793677;
    color: #793677;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 150px; /* Ajuste la valeur pour déplacer le bouton */
    border-radius: 5px;
    padding: 12px 25px;
    font-weight: 500; /* Poids léger */
  }  
  
  .register-button:hover {
    background-color: #793677;
    color: white;
  }


  /* Style css pour la section home */
  .home {
    background-color: #F6F8FB;
  }

.home-container {
    margin: 0;
    padding: 0;
    width: 100%; /* Prendre toute la largeur de la fenêtre */
    display: flex; /* Utiliser Flexbox pour la disposition */
    justify-content: space-between; /* Espace entre les colonnes */
    align-items: flex-start; /* Aligner les colonnes en haut */
    padding: 50px; /* Espacement interne */
    padding-top: 80px;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

  
  .left-column {
    flex: 1; /* Prendre toute la largeur restante */
    margin-right: 70px; /* Espace entre les colonnes */
  }
  .left-column p {
    font-size: 18px; /* Augmente la taille de la police */
    line-height: 0.5; /* Ajuste l'espacement entre les lignes */
    margin-bottom: 20px; /* Espace en bas si nécessaire */
    text-align: left; /* Alignement à droite */
    line-height: 2;
  }
  
  .quote h3 {
    font-size:45px; /* Augmente la taille de la police ici */
    margin-bottom: 0px; /* Espace en bas */
    text-align: left; /* Alignement à droite */
    line-height: 1.5;
    padding-top: -80px;
    color: #242424;
  }


  p {
    font-weight: 100;
    color: #3a3a3a;
    font-size: 10px;

  }
  
  
  .subscribe-form {
    display: flex; /* Disposition en ligne */
    margin-bottom: 60px; /* Espace en bas */
  }
  
  .subscribe-form input {
    flex: 1; /* Prendre toute la largeur disponible */
    padding: 15px; /* Espacement interne */
    margin-right: 10px; /* Espace entre le champ et le bouton */
    border: none; /* Supprimer la bordure */
    outline: none; /* Supprimer l'effet de contour lors du focus */
    border-radius: 2px;
    font-size: 15px; /* Augmente la taille de la police */
    width: 250px;
  }
  
  .subscribe-form button {
    padding: 15px 45px; /* Espacement interne */
    background-color: #793677; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Pointeur de la souris sur le bouton */
    border-radius: 4px;
    font-size: 18px; /* Augmente la taille de la police */
    font-weight: bold; /* Augmente le poids du texte */
  }
  
  .subscribe-form button:hover {
    background-color: #793677; /* Couleur sur hover */
  }
  
  .sponsors {
    display: flex; /* Disposition en ligne */
    align-items: center; /* Aligner verticalement */
    gap: 10px; /* Espacement entre le texte et les logos */
    font-size: 12px;
    width: 50px;
    flex: auto;
  }

  .sponsors-span {
    font-size: 14px;
    white-space: nowrap; /* Empêche le retour à la ligne */
}
  
  .sponsor-logos {
    display: flex; /* Disposition en ligne */
    gap: 20px; /* Espacement entre les logos */
  }
  
  .sponsor-logos img {
    height: 40px; /* Taille des logos */
  }
  
  .sponsor-logos img {
    height: 25px; /* Ajuster la taille des logos des sponsors */
  }

  .right-column {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Assure que la hauteur de la div est suffisante pour le centrage vertical */
  }

  .right-column p {
    margin-left: 0px; /* Retire la marge gauche */
    text-align: left; /* Aligne le texte à droite */
    
}

  
  .right-column img {
    max-width: 120%; /* Empêche l'image de dépasser la largeur de la div */
    height: auto; /* Maintient le ratio d'aspect de l'image */
  }
  

  /* Style de la section testimonials */
  .services {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .services h2 {
    font-size: 27px;
    margin-bottom: 10px;
    padding-bottom: 50px;
    color: #303030;
  }
  
  .services .subtitle {
    font-size: 15px;
    color: #793677;
    margin-bottom: 20px;
    
  }
  
  .service-items {
    display: flex; /* Utiliser Flexbox pour disposer les services en ligne */
    justify-content: space-between; /* Espace égal entre chaque service */
    align-items: flex-start; /* Aligner les éléments au début */
  }
  
  .service-item {
    flex: 1; /* Chaque service occupe une part égale de l'espace */
    max-width: 22%; /* Limite la largeur maximale pour garder 4 éléments par ligne */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 0 10px; /* Espace entre les services */
  }
  
  .service-item img.service-logo {
    width: 45px; /* Taille uniforme pour tous les logos SVG */
    height: 40px;
    margin-bottom: 0px;
    padding: 5px;
  }
  
  .service-item h3 {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #302f2f;
    
  }
  
  .service-item p {
    font-size: 15px;
    color: #555;
    line-height: 2;
  }
  
  .icon-container {
    padding: 20px; /* Espacement interne */
    border-radius: 30%; /* Coins arrondis pour un effet circulaire */
    display: inline-block; /* Permet d'ajuster la taille au contenu */
    margin-bottom: 20px; /* Espace en bas de l'icône */
  }
  
  .yellow {
    background-color: #ffeb99; /* Couleur de fond jaune */
  }
  
  .light-blue {
    background-color: #99ebff; /* Couleur de fond bleu clair */
  }
  
  .dark-blue {
    background-color: #66a3ff; /* Couleur de fond bleu foncé */
    color: white; /* Texte en blanc pour un meilleur contraste */
  }
  
  .red {
    background-color: #ff9980; /* Couleur de fond rouge */
    color: white; /* Texte en blanc pour un meilleur contraste */
  }
  
  .service-logo {
    width: 60px; /* Ajuste la taille de l'icône */
    height: 60px;
  }




  /* deuxieme dive de la section Services */
  .new-section {
    display: flex; /* Utiliser Flexbox pour aligner les colonnes */
    padding: 50px; /* Espacement interne de la section */
    background-color: #f9f9f9; /* Couleur de fond légère */
  }
  
  .left-column{
    margin-left: 20px;
  }
 .right-column {
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: flex-start; /* Aligner les éléments au début à gauche */
}

  

  .left-image {
    width: 510px; /* Définir la largeur de l'image en pixels */
    height: auto; /* Permet de conserver le rapport hauteur/largeur */
    border-radius: 10px; /* Coins arrondis pour l'image */
    margin-top: -20px; /* Optionnel : pour ajuster la position de l'image vers le haut */
  }
  
  
  .right-column h2 {
    font-size: 26px; /* Taille de la police du titre */
    margin-bottom: 10px; /* Espace en bas du titre */
    color: #0F2137;
    line-height: 1.7; /* Augmenter l'espace entre les lignes */
  }
  
  .right-column .subtitle {
    font-size: 14px; /* Taille de la police du sous-titre */
    color: #787b96; /* Couleur grise pour le texte du sous-titre */
    margin-bottom: 16px; /* Espace en bas du sous-titre */
    font-family: Arial, sans-serif; /* Changer la police en Arial */
    line-height: 1.9; /* Augmenter l'espace entre les lignes */
    margin-bottom: 65px;
  }
  
  .right-content p {
    color: rgb(2, 7, 62); /* Couleur grise pour les paragraphes */
    font-family: Arial, sans-serif; /* Changer la police en Arial */
    font-size: 17px;
    margin-bottom: -10px;
  }
  
  
  .content-item {
    display: flex; /* Utiliser Flexbox pour aligner l'icône et le texte */
    align-items: center; /* Centre verticalement */
    margin-bottom: 20px; /* Espace entre les paragraphes */
  }
  
  .icon-circle {
    position: relative;
    display: inline-block;
    margin-top: 20px; /* Augmente cette valeur pour faire défiler plus bas */
    margin-bottom: -10px;
  }
  

.icon-circle img {
  filter: grayscale(100%) opacity(0.2); /* Applique un filtre gris et réduit l'opacité */
  width: 17px; /* Taille de l'icône */
  height: 17px; /* Taille de l'icône */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}


.icon-circle::after {
    content: ''; /* Nécessaire pour créer un pseudo-élément */
    position: absolute; /* Permet de le positionner par rapport à .icon-circle */
    top: 0; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    right: 0; /* Aligner à droite */
    bottom: 0; /* Aligner en bas */
    background: rgba(255, 255, 255, 0.5); /* Couleur blanche avec transparence */
    filter: blur(5px); /* Applique un flou */
    border-radius: 50%; /* Arrondir les bords pour que ça ressemble à un cercle */
    pointer-events: none; /* Ignore les événements de souris sur le pseudo-élément */
}


  
  
  .learn-more {
    display: inline-flex; /* Utiliser Flexbox pour aligner l'icône et le texte */
    align-items: center; /* Centre verticalement l'icône et le texte */
    margin-top: 20px; /* Espace au-dessus du lien */
    color: rgb(141, 68, 139); /* Couleur du texte du lien */
    text-decoration: none; /* Supprimer le soulignement */
    font-family: Arial, sans-serif; /* Changer la police en Arial */
    font-size: 14px;
    font-weight: bold;
  }
  
  
  .learn-more .icon-circle {
    margin-right: 8px; /* Espace entre l'icône et le texte */
  }




  /* Troixieme dic de la section Services */
  .details-section {
    text-align: center; /* Centrer le texte */
    margin: 30px 0; /* Espace autour de la section */
  }
  
  .details-section h2 {
    font-size: 28px; /* Taille du titre */
    margin-bottom: 20px; /* Espace en bas du titre */
    font-family: 'DM Sans', sans-serif; /* Applique la police DM Sans */
    font-weight: bold; /* Applique le poids 900 */
}

  
  .description {
    font-family: 'DM Sans', sans-serif; /* Applique la police DM Sans */
    font-weight: 400; /* Applique le poids 900 */
    font-size: 17px;
    color: rgb(52, 61, 72); /* Couleur grise pour la description */
    margin-bottom: 20px; /* Espace en bas de la description */
    line-height: 2.2; /* Augmenter l'espace entre les lignes */
  }
  
  .explore-details {
    box-sizing: border-box; /* Prend en compte la bordure et le padding dans la largeur/hauteur */
    color: rgb(141, 68, 139); /* Couleur du texte */
    cursor: pointer; /* Curseur en forme de main */
    display: inline-block; /* Permet d'ajuster la taille du lien */
    font-family: 'DM Sans', sans-serif; /* Applique la police DM Sans */
    font-size: 16px; /* Taille de la police */
    font-weight: 700; /* Poids de la police en gras */
    height: 30px; /* Hauteur du lien */
    line-height: 30px; /* Aligne le texte verticalement */
    margin-bottom: 50px; /* Espace en bas du lien */
    margin-left: 0px; /* Pas de marge à gauche */
    margin-right: 0px; /* Pas de marge à droite */
    margin-top: 0px; /* Pas de marge en haut */
    min-width: 0px; /* Pas de largeur minimale */
    text-align: center; /* Aligne le texte au centre */
    text-decoration-color: rgb(141, 68, 139); /* Couleur de la décoration de texte */
    text-decoration-line: none; /* Supprime la ligne de soulignement */
    text-decoration-style: solid; /* Style de la ligne de texte (inutile car aucune ligne) */
    text-decoration-thickness: auto; /* Épaisseur de la ligne de texte (inutile car aucune ligne) */
    vertical-align: middle; /* Aligne verticalement l'élément */
    width: 135.469px; /* Largeur spécifique du lien */
    -webkit-font-smoothing: antialiased; /* Améliore l'apparence de la police */
}

  
  .explore-details::after {
    content: " >"; /* Ajoute le signe supérieur après le texte */
    margin-left: 5px; /* Espace entre le texte et le signe supérieur */
    font-size: 18px; /* Taille du signe supérieur */
    color: rgb(141, 68, 139); /* Couleur du signe supérieur */
  }
  
  
  .video-container {
    position: relative;
    max-width: 68%; /* Largeur maximale pour occuper tout l'espace disponible */
    margin: 0 auto;
    height: auto; /* Hauteur automatique pour conserver les proportions */
  }
  
  .video-cover {
    position: relative;
    cursor: pointer;
  }
  
  .video-cover img {
    width: 100%; /* Largeur de l'image à 100% pour occuper tout le conteneur */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 10px;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #800080;
    background-color: white; /* Mauve par défaut */
    width: 110px; /* Largeur du cercle */
    height: 110px; /* Hauteur du cercle */
    border-radius: 50%; /* Rond */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .play-button:hover {
    background-color: #800080;
    color: white;
    border-color: white;
  }
  
  #video-iframe {
    width: 100%; /* Vidéo occupe toute la largeur du conteneur */
    height: 500px; /* Hauteur augmentée pour avoir une grande vidéo */
    display: none; /* Masqué par défaut */
  }
  
  
  iframe {
    width: 100%;
    height: 450px;
  }
  



  /* Style pour la section Testimanials */
  
  /* Testimonials css */
  .testimonials-section {
    text-align: center; /* Centre le texte et les témoignages */
  }
  
  .testimonials-container {
    position: relative; /* Pour positionner correctement les éléments */
    display: inline-block; /* Pour centrer l'ensemble du contenu */
  }

  .client-feedback {
    text-align: center; /* Centrer le texte à l'intérieur de la section */
    padding: 40px 20px; /* Ajouter du padding pour espacer le contenu */
    color: #464545; /* Couleur grise (tu peux ajuster la valeur selon tes besoins) */
  }
  
  .header {
    margin-bottom: 20px; /* Espacement entre le titre et les témoignages */
  }


  .header h2 {
    box-sizing: border-box;
    color: rgb(15, 33, 55); /* Couleur du texte */
    display: block;
    font-family: "DM Sans", sans-serif; /* Applique la police DM Sans */
    font-size: 31px;
    font-weight: 700; /* Poids de la police en gras */
    height: 58.5469px;
    letter-spacing: -1.5px; /* Espacement des lettres */
    line-height: 58.56px; /* Hauteur de ligne */
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 0px;
    text-align: center; /* Centre le texte */
    unicode-bidi: isolate;
    width: 1170px;
    -webkit-font-smoothing: antialiased;
  }
  
  
  .swiper-container {
    width: 100%; /* S'assurer qu'il prend toute la largeur */
    max-width: 1200px; /* Largeur maximale pour centrer */
    margin: 0 auto; /* Centrer le conteneur */
  }
  
  .swiper-slide {
    display: flex; /* Utiliser flex pour centrer le contenu dans le slide */
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
  }
  
  
  .client-image {
    margin-bottom: 15px; /* Espacement entre l'image et le témoignage */
    width: 100px; /* Ajuster la largeur de l'image selon les besoins */
    height: auto; /* Garder le ratio d'aspect */
  }
  
  
  .subtitle {
    box-sizing: border-box;
    color: rgb(141, 68, 139); /* Couleur mauve pour le sous-titre */
    display: block;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    text-align: center;
    unicode-bidi: isolate;
    width: 1170px;
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
  }
  
  
  .swiper-slide p {
    font-size: 20px; /* Augmente la taille de la police selon tes préférences */
    margin: 10px 0; /* Ajoute un peu d'espace autour du texte */
    margin-bottom: 40px; /* Augmente l'espace en dessous de la section */
    color: rgb(15, 33, 55);
  }
  

  
  .client-image + p {
    font-family: 'The Youngest Serif', serif; /* Changer la police */
    font-size: 2.3em; /* Augmente la taille de la police */
    line-height: 1.5; /* Ajuste l'interligne selon tes préférences */
    margin-top: 10px; /* Espace entre l'image et le texte */
  }

  /* .image-container {
    position: relative; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
  } */

  .image-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .image-container .swiper-slide {
    width: 33.33%; /* Trois images affichées à la fois */
    transition: transform 0.5s ease; /* Animation de défilement en douceur */
  }
  
  .image-line {
    position: absolute; /* Positionnement absolu pour la ligne mauve */
    height: 4px; /* Diminuer la hauteur de la ligne */
    background-color: #800080; /* Couleur mauve */
    width: 40%; /* Largeur de la ligne (modifiable selon les préférences) */
    top: -5px; /* Positionner la ligne légèrement au-dessus de l'image */
    left: 50%; /* Centrer la ligne */
    transform: translateX(-50%); /* Ajuster pour centrer la ligne */
    z-index: 1; /* Mettre la ligne au-dessus des images */
    margin: 5px; /* Réduit l'espace horizontal entre les images */
  }
  


/* Style de la deuxieme section de .testimonials */
 
.customer-support {
  padding: 40px; /* Espace autour de la section */
  background-color: #ffffff; /* Couleur de fond */
  margin-bottom: 40px; /* Augmente l'espace en dessous de la section */
}

.content {
  display: flex; /* Utiliser Flexbox pour aligner le texte et l'image */
  justify-content: space-between; /* Espacement entre le texte et l'image */
  align-items: center; /* Centrer verticalement */
  max-width: 1200px; /* Largeur maximale pour la section */
  margin: 0 auto; /* Centrer la section */
}

.text-container {
  max-width: 600px; /* Largeur maximale du conteneur de texte */
  margin-left: 50px; /* Augmenter l'espace à gauche */
}


.support-title {
  font-size: 28px; /* Taille de police pour le titre */
  margin-bottom: 3
  0px; /* Espacement en dessous du titre */
  line-height: 1.5; /* Ajuster l'espacement entre les lignes */
  color: #333; /* Couleur du texte */
}

.support-description, .support-note {
  color: #555; /* Couleur gris pour les descriptions */
  margin-bottom: 5px; /* Espacement entre les paragraphes */
  line-height: 2; /* Augmente l'espace entre les lignes */
  font-size: 15px;
}

.gray-text {
  color: #a09d9d; /* Couleur grise */
}  

.learn-more {
  color: #800080; /* Couleur du lien */
  text-decoration: none; /* Enlever le soulignement */
  font-weight: bold; /* Mettre en gras */
}

.learn-more svg {
  margin-left: 5px; /* Espacement entre le texte et l'icône */
}

.image-container {
  flex: 1; /* Permet à l'image de prendre la largeur restante */
  display: flex; /* Centrer l'image dans son conteneur */
  justify-content: center; /* Centrer horizontalement */
}

.support-image {
  max-width:83%; /* S'assurer que l'image ne déborde pas */
  margin-left: 50px;
  height: auto; /* Garder le ratio d'aspect */
}





/* Style de la section News */
.tutorial-section {
  padding: 40px;
  text-align: center;
  margin-top: 40px; /* Espace au-dessus de la section */
  margin-bottom: 40px; /* Espace en dessous de la section */
  background-color: #F8FAFC;
  margin-left: -50px;
  margin-right: -50px;
}

/* Sous-titre */
.subtitle {
  font-size: 16px;
  color: #800080;
  margin-top: 40px;
}

/* Titre */
.title {
  font-size: 28px;
  margin: 10px 0;
  color: #343a40;
}

.tutorial {
  width: 30%; /* Ajustez la largeur des tutoriels */
  text-align: center; /* Centrer le texte à l'intérieur des tutoriels */
  display: flex; /* Utiliser flexbox pour centrer le contenu */
  flex-direction: column; /* Organiser les éléments en colonne */
  align-items: center; /* Centrer horizontalement les éléments */
  justify-content: center; /* Centrer verticalement les éléments */
  margin: 20px; /* Espace autour de chaque tutoriel */
}


/* Conteneur des tutoriels */
.tutorials-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Carte d'un tutoriel */
.tutorial-card {
  width: 350px;
  background-color: white;
  border: 1px solid #d8dadb;
  border-radius: 8px;
  padding: 0px;
  text-align: left;
  text-align: center; /* Centrer le texte */
  flex-direction: column; /* Empiler les éléments verticalement */
  align-items: flex-start; /* Aligner à gauche */
}

/* Image dans la carte */
.tutorial-image {
  width: 350px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tutorial-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
}

.tutorial-par {
  display: flex;
  flex-direction: column; /* Aligne les éléments en colonne */
  align-items: flex-start; /* Aligne le contenu à gauche */
  max-width: 400px; /* Ajuste la largeur maximale si nécessaire */
  margin: 0 auto; /* Centre le conteneur horizontalement */
}

.tutorial-description {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(2, 7, 62); /* Texte noir foncé */
  transition: color 0.3s; /* Ajoute une transition douce pour le changement de couleur */
  line-height: 2; /* Ajuste l'espacement entre les lignes */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  text-align: left; /* Aligne le texte à gauche */
  font-weight: 700;
  color: inherit; /* Utilise la couleur du texte parent */
  cursor: pointer; /* Affiche un curseur de type main */
}

.comments {
  display: flex;
  align-items: center; /* Centre verticalement l'icône et le texte */
  text-align: left; /* Aligne le texte à gauche */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 400;
}



/* Changer la couleur du texte au survol */
.tutorial-card:hover .tutorial-description {
  color: #6f42c1; /* Couleur mauve */
}

/* Section des commentaires */
.comments {
  display: flex; /* Utilise flexbox pour l'alignement */
  align-items: center; /* Centre verticalement l'icône et le texte */
  font-size: 16px; /* Taille de police pour le texte */
  color: #000; /* Couleur du texte */
  margin-bottom: 40px; /* Augmente l'espace en dessous de la section */
}

.comment-icon {
  margin-right: 5px; /* Ajoute un petit espace entre l'icône et le texte */
}

  

/* Deuxieme style de la section News */
/* Custom Section Styles */
.custom-section {
  background-color: rgb(141, 68, 139); /* Couleur de fond mauve */
  padding: 15px; /* Espacement interne */
  color: white; /* Couleur du texte par défaut */
  max-width: 1020px; /* Largeur maximum de la section */
  margin: 0 auto; /* Centrer la section horizontalement */
  margin-bottom: 50px; /* Augmenter l'espace en dessous de la section */
  border-radius: 10px;
}

.custom-container {
  display: flex; /* Utiliser Flexbox pour la disposition */
  justify-content: space-between; /* Espace entre les colonnes */
  align-items: center; /* Alignement vertical au centre */
}

.left-column {
  flex: 1; /* Prendre toute la largeur restante */
}

.left-column h3 {
  font-size: 28px; /* Taille de la police pour le h3 */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 700;
  margin-left: 20px;
}


.right-column {
  flex: 1; /* Prendre toute la largeur restante */
  text-align: right; /* Alignement à droite */
}

.custom-button {
  position: relative;
  background-color: white;
  color: #993399;
  border: none;
  padding: 17px 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible; /* Pour que les barres débordent */
  margin-left: 220px;
}

/* Barres du haut */
.custom-button .bar {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #cecbcb;
  transition: 0.3s;
}

.custom-button .bar-1-top {
  transform: rotate(45deg);
  top: -20px;
  left: 50%;
  margin-left: -40px;
}

.custom-button .bar-2-top {
  transform: rotate(90deg);
  top: -25px;
  left: 50%;
  margin-left: -15px;
}

.custom-button .bar-3-top {
  transform: rotate(135deg);
  top: -20px;
  left: 50%;
  margin-left: 10px;
}

/* Barres du bas */
.custom-button .bar-1-bottom {
  transform: rotate(135deg);
  bottom: -20px;
  left: 50%;
  margin-left: -40px;
}

.custom-button .bar-2-bottom {
  transform: rotate(90deg);
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
}

.custom-button .bar-3-bottom {
  transform: rotate(45deg);
  bottom: -20px;
  left: 50%;
  margin-left: 10px;
}


.custom-button .bar-3 {
  transform: rotate(135deg);
  left: 50%;
  margin-left: 10px; /* Pas de décalage pour le dernier */
}


.custom-button:hover {
  background-color: #001f3f; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}

.icon-before,
.icon-after {
  margin: 0 10px; /* Espace entre l'icône et le texte */
}



/* Style du footer */
.footer {
  background-color: white; /* Couleur de fond du footer en blanc */
  color: #333; /* Couleur du texte en gris foncé */
  padding: 0px; /* Espacement interne */
  margin-bottom: 40px; /* Augmente l'espace en dessous du footer */
}

.footer-container {
  display: flex; /* Utilise flexbox pour aligner les éléments */
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center; /* Centre verticalement les éléments */
  max-width: 1050px; /* Largeur maximum */
  margin: 0 auto; /* Centre le footer */
}

.logo img {
  height: 40px; /* Hauteur du logo */
}

.footer-text {
  text-align: center; /* Centre le texte */
  flex: 1; /* Permet au texte de prendre l'espace restant */
  color: rgb(15, 33, 55); /* Couleur du texte grisée */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 500;
  font-size: 13px;
}

.footer-links {
  display: flex; /* Utilise flexbox pour aligner les liens */
  gap: 10px; /* Augmente l'espacement entre les liens */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 500;
  font-size: 14px;
}


.footer-links a {
  color: rgb(15, 33, 55); /* Couleur par défaut des liens (noir) */
  text-decoration: none; /* Supprime la décoration de texte (soulignement) */
  margin-right: 15px; /* Espacement entre les liens */
  font-size: 15px; /* Taille de la police */
  font-family: 'DM Sans', sans-serif; /* Change la police en Arial Black */
  font-weight: 400;
  transition: color 0.3s ease; /* Transition fluide pour la couleur */
}

.footer-links a:hover {
  color: #993399; /* Couleur mauve lors du survol */
}

  